/* Place CSS styles here */
/* Style the navigation menu */
.navigation {
    overflow: hidden;
    background-color:black
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .navigation #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .navigation a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .navigation a.icon {
    background: rgb(146, 195, 163);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .navigation a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #039964;
    color: white;
  }
  body, html {
    height: 100%;
}
p {
  text-align: center;
    color:rgb(146, 195, 163);
}

h1 {
  text-align: center;
    color:rgb(146, 195, 163);
  }
h2 {
  text-align: center;
    color:#039964;
    }
h3 {
  color:rgb(146, 195, 163);
}
ol {
  text-align: center;
  font-weight: 650;
  color:#039964;
}
/* The hero image */
.cover-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(".hero-ima./img/best-womens-running-leggings-1664787151.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.cover-text {
  text-align: center;
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(169, 217, 187);
}
form.form {
  text-align: center;
  color:rgb(146, 195, 163);
  display: table;
}

div.form {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}


  @media (max-width: 480px) {
    body {
      background-color: rgb(4, 68, 43);
    }
  }
  
  /* media query for tablet */
  @media (min-width: 481px) and (max-width: 767px) {
    body {
      background-color: rgb(4, 68, 43);
    }
  }
  
  /* media query for desktop */
  @media (min-width: 768px) {
    body {
      background-color: rgb(4, 68, 43);
    }
  }